# This script is launched by the ecc.timer systemd timer.  Its sole
# purpose in life is to launch run-aws.sh, which launches all the
# Epiphany periodic automation.
#
# Put this file in $HOME/.config/systemd/user/ecc.service
#
# Then run:
# systemctl --user daemon-reload
# systemctl --user start ecc.timer
#
# Can check it via:
#
# systemctl --user status ecc.timer
# systemctl --user status ecc.service

[Unit]
Description=Execute run-aws.sh

[Service]
ExecStart=%h/git/epiphany/media/linux/run-aws.sh
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=default.target
